body {
    background-image: url(KH.png);
    padding:40px 30px;
    
}
p {
    font-size: 24px;
    font-weight: bold;
    color: rgb(136, 211, 136);
}
a {
    font-weight: bold;
    color:rgb(0, 255, 242);
}

a:hover {
    font-weight: bold;
    color:red;
}