body{
    font-family: fantasy;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(210,210,210);
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    width: 470px;
    margin: auto;
    border-style: dashed;
    border-width: 20px;
    border-color: black;
    border: 10px inset;

}
.flexbox>div{
background-color: rgb(210, 210, 210);
width: 55px;
height: 50px;
margin: 0px;
text-align: center;
line-height: 55px;
font-size: 30px;
border-left-style: none;
border-top-style: none;
}

.blue-1 {
  color: blue;
  border: 3px dotted black;
}

.green-2 {
  color: green;
  border: 3px dotted black;
}

.red-3 {
  color: red;
  border: 3px dotted black;
}

.mine {
  background-color: rgb(202, 202, 202);
  border: 3px dotted black;
}

.blank1 {
  background-color: rgb(202, 202, 202);
  border: 3px dotted black;
  color: rgb(210, 210, 210);
}
.blank2 {
  background-color: rgb(202, 202, 202);
  border: 3px dotted black;
  color: rgb(210, 210, 210);
}
.blank3 {
  background-color: rgb(202, 202, 202);
  border: 3px dotted black;
  color: rgb(210, 210, 210);
}
.blank1:hover {
  color:blue;
}
.blank2:hover {
  color: green;
}
.blank3:hover {
  color:red;
}
.blankshadow1 {
  background-color: rgb(202, 202, 202);
  border: 3px solid black;
  color: rgb(210, 210, 210);
  box-shadow: 3px 3px white inset;
}
.blankshadow1:hover {
  color: blue;
}
.blankshadow2 {
  background-color: rgb(202, 202, 202);
  border: 3px solid black;
  color: rgb(210, 210, 210);
  box-shadow: 3px 3px white inset;
}
.blankshadow2:hover {
  color: green;
}

.blankshadow3 {
  background-color: rgb(202, 202, 202);
  border: 3px solid black;
  color: rgb(210, 210, 210);
  box-shadow: 3px 3px white inset;
}
.blankshadow3:hover {
  color: red;
}
